@model AgvViewWindow.Models.MainModel
@{
    ViewData["Title"] = "Agv Group Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
<div class="container">
    <div class="row my-2">
        <div class="col-10"><h1 style="font-weight: 700;color: rgb(0, 0, 0);">Agv Grup Tanımlamaları</h1></div>
        <div class="col-2 ">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal1" onclick="openDialog(1);">
                Agv Grup Ekle
            </button>
        </div>

    </div>
</div>

<div class="container">
    <table class="table table-hover" style="margin-top : 1%">
        <thead>
            <tr>
                <th scope="col" style="width: 5%"></th>
                <th scope="col" style="width: 5%"></th>
                <th scope="col" style="width: 30%">Agv Group Id</th>
                <th scope="col" style="width: 60%">Agv Group Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.agvgroups)
            {
                <tr>
                    <th scope="row"><button class="btn btn-warning" data-bs-toggle="modal" onclick="openDialog(2, @item.AgvGroupId, '@item.AgvGroupName.ToString()');" data-bs-target="#modal1">Edit</button></th>
                    <th scope="row"><button class="btn btn-danger" data-bs-toggle="modal" onclick="delOperation(@item.AgvGroupId);" data-bs-target="#deleteCheck">Del</button></th>
                    <th scope="row">@item.AgvGroupId</th>
                    <th scope="row">@item.AgvGroupName</th>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Modal -->
<div class="modal fade" id="modal1" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agv Group Ekleme/Düzenleme Penceresi</h5>
                <button type="button" id="kapat2" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm" action="@Url.Action("agvGroupSettings","Settings")" method="POST">
                    <label class="form-label">Agv Group Id</label>
                    <input type="text" id="AgvGroupId" class="form-control" name="AgvGroupId" autocomplete="off" readonly>
                    <br />
                    <label class="form-label">Agv Group Name</label>
                    <input type="text" id="AgvGroupName" class="form-control" name="AgvGroupName" autocomplete="off">
                    <br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="kapat" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" id="ekle" onclick="addItem();" class="btn btn-primary"><span id="buttonValue"></span></button>
                <div class="spinner-border" style="visibility:hidden;" id="spin">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Validate Modal -->
<div class="modal fade" id="deleteCheck" data-bs-backdrop="static" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kayıt Silmeyi Onaylıyor musun?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" onclick="sendDelete();" class="btn btn-danger">Onaylıyorum</button>
            </div>
        </div>
    </div>
</div>

<script>

    let delItemId = 0;

    function clearFormData() {
        document.getElementsByName("AgvGroupId").value = "";
        document.getElementsByName("AgvGroupName").value = "";
    }

    function sendDelete() {

        let form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", '@Url.Action("agvGroupSettings", "Settings")');

        var hiddenField1 = document.createElement("input");
        hiddenField1.setAttribute("type", "hidden");
        hiddenField1.setAttribute("name", "AgvGroupId");
        hiddenField1.setAttribute("value", delItemId);
        form.appendChild(hiddenField1);

        var hiddenField2 = document.createElement("input");
        hiddenField2.setAttribute("type", "hidden");
        hiddenField2.setAttribute("name", "AgvGroupName");
        hiddenField2.setAttribute("value", "delete");
        form.appendChild(hiddenField2);
        document.body.appendChild(form);
        console.log(form)
        form.submit();
    }

    function openDialog(indicator, AgvGroupId, AgvGroupName) {
        if (indicator == 1) {
            clearFormData()
            document.getElementById("buttonValue").innerText = "Ekle";
        } else if (indicator == 2) {
            clearFormData()
            document.getElementById("AgvGroupId").value = AgvGroupId;
            document.getElementById("AgvGroupName").value = AgvGroupName;
            document.getElementById("buttonValue").innerText = "Düzenle";
        }
    }

    function addItem() {
        let form2 = document.getElementById("addForm");
        form2.submit();
    }

    function delOperation(id) {
        delItemId = id;
    }


</script>