@model AgvViewWindow.Models.MainModel
@{
    ViewData["Title"] = "Symbolic Point Hold Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row my-2">
        <div class="col-10"><h1 style="margin: 15px;font-weight: 700;color: rgb(0, 0, 0);">Symbolic Hold Bilgileri <div class="spinner-border" style="visibility:hidden;" id="spin"> </h1></div>
        <div class="col-2">
            <button id="yenileButton" data-bs-toggle="modal" data-bs-target="#validate" class="btn btn-outline-danger">Navithor->Db Yenile</button>
            
        </div>

    </div>
</div>

<div class="container">
    <table class="table table-hover" style="margin-top : 1%">
        <thead>
            <tr>
                <th scope="col" style="width: 10%">SymbolicPointId</th>
                <th scope="col" style="width: 10%">MachineTypeId</th>
                <th scope="col" style="width: 10%">DefaultReleaseLoc</th>
                <th scope="col" style="width: 10%">At1Location</th>
                <th scope="col" style="width: 10%">At2Location</th>
                <th scope="col" style="width: 10%">At3Location</th>
                <th scope="col" style="width: 40%">ReleaseTimeout(s)</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.symbolicpointholds)
            {
                <tr>
                    <th scope="row">@item.SymbolicPointId</th>
                    <th scope="row">@item.MachineTypeId</th>
                    <th scope="row">@item.DefaultReleaseLocation</th>
                    <th scope="row">@item.AtOneLocation</th>
                    <th scope="row">@item.AtTwoLocation</th>
                    <th scope="row">@item.AtThreeLocation</th>
                    <th scope="row">@item.ReleaseTimeoutSecond</th>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Validate Modal -->
<div class="modal fade" id="validate" tabindex="-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Server mesajı gönderilecektir! Onaylıyor musun?</h5>
            </div>

            <div class="modal-footer">
                <button type="button" id="cancelButton" class="btn btn-outline-secondary" data-bs-dismiss="modal">Kapat</button>
                <form action="@Url.Action("symbolicHold","Settings", new { status = 1})" method="post">
                    <button type="submit" onclick="waiting();" class="btn btn-danger">Onaylıyorum</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function waiting() {
        document.getElementById("cancelButton").click()
        document.getElementById("yenileButton").style.visibility = "hidden";
        document.getElementById("spin").style.visibility = "visible";
    }
</script>
